# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env

# Python Salesforce Functions
**/__pycache__/
**/.venv/
**/venv/
deploy/package.xml
deploy/classes/PortalProgramsHelper.cls
deploy/classes/PortalProgramsHelperTest.cls
deploy/lwc/portalProgram/portalProgram.css
deploy/lwc/portalProgram/portalProgram.html
deploy/lwc/portalProgram/portalProgram.js
deploy/lwc/portalProgram/portalProgram.js-meta.xml
deploy/lwc/portalProgramApplication/portalProgramApplication.css
deploy/lwc/portalProgramApplication/portalProgramApplication.html
deploy/lwc/portalProgramApplication/portalProgramApplication.js
deploy/lwc/portalProgramApplication/portalProgramApplication.js-meta.xml
deploy/lwc/portalProgramApplications/portalProgramApplications.html
deploy/lwc/portalProgramApplications/portalProgramApplications.js
deploy/lwc/portalProgramApplications/portalProgramApplications.js-meta.xml
deploy/lwc/portalPrograms/portalPrograms.html
deploy/lwc/portalPrograms/portalPrograms.js
deploy/lwc/portalPrograms/portalPrograms.js-meta.xml
deploy/permissionsets/Application_External.permissionset
